<div class="container mt-5">

  <form id="formFluid" class="row form-content g-3">
    <div class="col-8 field-item">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control">
    </div>
    <div class="col-4 field-item">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" class="form-control">
    </div>
    <div class="col-4 field-item">
      <label for="inputAddress" class="form-label">Address</label>
      <input type="text" class="form-control">
    </div>
    <div class="col-4 field-item">
      <label for="inputAddress2" class="form-label">Address 2</label>
      <input type="text" class="form-control">
    </div>
    <div class="col-4 field-item">
      <label for="inputCity" class="form-label">City</label>
      <input type="text" class="form-control">
    </div>
    <div class="col-4 field-item">
      <label for="inputAddress" class="form-label">Telefono</label>
      <input type="text" class="form-control">
    </div>
    <div class="col-4 field-item">
      <label for="inputAddress2" class="form-label">Codigo</label>
      <input type="text" class="form-control">
    </div>
    <div class="col-4 field-item">
      <label for="inputCity" class="form-label">Url</label>
      <input type="text" class="form-control">
    </div>
    <div class="col-4 field-item">
      <label for="inputState" class="form-label">State</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-4 field-item">
      <label for="inputZip" class="form-label">Zip</label>
      <input type="text" class="form-control">
    </div>
    <div class="col-12 field-item">
      <button type="submit" class="btn btn-danger">Sign in</button>
    </div>
  </form>


</div>