<div class="container reports">
  <span>Nested Sorted simulated</span>
  <button (click)="initSortable()">Init sortable</button>
  <button (click)="destroySortable()">Destroy sortable</button>
  <button (click)="activeFilter()">Disable Drag & Drop</button>
  <button (click)="removeFilter()">Enable Drag & Drop</button>
  <button (click)="enableOrDisable()">{{labelButton}} sort</button>

  <div class="row users">
    <app-user *ngFor="let user of UsersData" [user]="user">
    </app-user>
  </div>
</div>



<div class="mt-3"></div>

<div class="container reports3">
  <span>Nested Sorted</span>
  <div class="row users row-sort">
    <div class="col-12 user" *ngFor="let user of UsersData">
      {{user.name}}
      <div class="row telfs row-sort">
        <div class="col tel" *ngFor="let tel of user.telfs">{{tel.num}}</div>
      </div>
    </div>
  </div>
</div>